{% extends "base.html" %}
{% block title %}Mis mascotas | Adoptapp{% endblock %}

{% block content %}
<div class="container mt-4">
  <h1 class="mb-4">Mis mascotas publicadas</h1>

  {% if mascotas %}
    <div class="row g-3">
      {% for m in mascotas %}
        <div class="col-md-6 col-lg-4">
          <div class="card h-100">
            <img src="{{ m.foto.url }}" class="card-img-top" alt="{{ m.nombre }}" style="height:220px; object-fit:cover;">
            <div class="card-body">
              <h5 class="card-title mb-1 text-center">{{ m.nombre }}</h5>
                <p class="text-center mb-2">
                {{ m.especie|title }} ·
                {% if m.sexo == "hembra" %}♀{% elif m.sexo == "macho" %}♂{% else %}⚥{% endif %}
                {{ m.sexo|title }} ·
                {{ m.edad_legible }} ·
                {{ m.ciudad }}
                </p>

                <p class="text-center mb-2">
                {{ m.tamano|title }} · {{ m.descripcion }}
                </p>

                <div class="text-center mb-3">
                {% if m.disponible %}
                    <span class="badge bg-success">Disponible</span>
                {% else %}
                    <span class="badge bg-secondary">No disponible</span>
                {% endif %}
                </div>


              <a href="{% url 'chats_por_mascota' m.id %}" class="btn btn-outline-primary btn-sm">
                Ver chats
              </a>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
  {% else %}
    <div class="alert alert-light border text-center">
      Aún no has publicado mascotas.
    </div>
  {% endif %}
</div>
{% endblock %}
